.container{
    color: red;
    font-size: 100px;
}
<<<<<<< HEAD

/* hero -section */
.topbar.hero-section{
    background-color: yellow;
    font-size: xx-large;
    color: #9999;
}

=======
/* hero */
.hero{
    color: red;
    font-size: 100px;
}
>>>>>>> ace3a49b325e7150252c97be0a0c99b1d91eddb8


/* FOOTER CSS */
body{
    justify-content: end;
}
.grid-footer{
  
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 10px;
}

.item{
   
    margin: 20px;
    height: 50px;
    /* border: 2px solid grey; */
    padding: 10px;
    text-align: left;
}

footer {
    box-sizing: border-box;
    padding: 5px 5px ;
    position: relative;
    width: 100%;
    height: auto;
    background-color:black;
    margin-top: auto;
}

.item ul li a:hover{
    color: yellow;;
}

.item ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    list-style: none;
}
img{
    padding: 5px 5px 5px 5px;
}



/* *****************Login Box CSS Start ******************* */

#loginBox-body{
    background-color: #93cdff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;  
}

#signup{
    color: rgb(86, 209, 52);
    font-weight: 900;
}

#loginBox-div{
    background-color: #fdfdfd;
    padding: 40px;
    text-align: center;
    border: 2px solid black ;
    border-radius: 40px;
}
#email, #password{
    margin-bottom: 5px;
    padding: 8px;
    width: 300px;
    border-radius: 5px;
}

.err{
    color: red;
    margin: 0px;
    text-align: left;
}

#login-now{
    width:315px;
    background-color: #ff5353;
    border-radius: 50px;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
}

#forget-password{
    font-weight: 50;
    color: #ff5353;
}

#close-btn{
    float: right; 
    line-height: 0px;
    padding-left: 10px;
}

/* ********************Login Box CSS End************************* */