.container{
    color: red;
    font-size: 100px;
}
<<<<<<< HEAD

/* hero -section */
.topbar.hero-section{
    background-color: yellow;
    font-size: xx-large;
    color: #9999;
}

=======
/* hero */
.hero{
    color: red;
    font-size: 100px;
}
>>>>>>> ace3a49b325e7150252c97be0a0c99b1d91eddb8
