<section
  class="hero-container bg-secondary-subtle overflow-hidden d-flex align-items-center justify-content-center mb-5"
>
  <div class="container h-75">
    <div class="row h-100">
      <div class="col-6 d-flex align-items-center p-5">
        <div class="">
          <h1 class="hero-heading">Modern Living For Everyone</h1>
          <p class="hero-intro fs-6">
            Welcome to our all-in-one housing solution! Discover your perfect
            home for sale, rent, or PG accommodations effortlessly with our
            expert assistance.
          </p>
          <app-search></app-search>
        </div>
      </div>
      <div class="col-6 h-100 hero-img overflow-hidden"></div>
    </div>
  </div>
</section>
