<!-- Topbar of the Page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">





    <link rel="stylesheet" href="style.css">
    <title>Topbar</title>
</head>

<body>
    <header>
        <ul>
            <div class="icon-bars">

                <li id="hamburger"><a href="#"><i class="fa fa-bars"></i></a></li>
                <li><img src="file:///C:/Users/Shree/Desktop/RentEasy.png" alt="logo"></li>
                <li id="location"><a href="#"><i class="fa fa-map-marker"></i></a><a href="#">Hyderabad</a></li>
                <li id="envelope"><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li id="user"><a href="#"><i class="fa fa-user"></i></a></li>
                <li id="search"><a href="#"><i class="fa fa-search"></i></a></li>


            </div>
        </ul>




    </header>
</body>

</html>